<div class="background">
  <span>Developer</span>
  <span>Designer</span>
  <span>Creator</span>
  <span>Innovator</span>
  <span>Entrepreneur</span>
  <span>Leader</span>
  <span>Visionary</span>
  <span>Thinker</span>
  <span>Dreamer</span>
  <span>Passionate</span>
  <span>Motivated</span>
  <span>Inspiring</span>
  <span>Creative</span>
  <span>Strategist</span>
  <span>Problem Solver</span>
  <span>Collaborator</span>
  <span>Team Player</span>
  <span>Innovative</span>
  <span>Tech Enthusiast</span>
  <span>Tech Lover</span>
  <span>Tech Explorer</span>
  <span>Tech Innovator</span>
  <span>Tech Creator</span>
</div>
